# Changed from /build to /dist because this is default for
# Netlify when deploying an app using `@upleveled/react-scripts`
# Ref: https://github.com/upleveled/create-react-app/commit/ab165a178994751e837d2835b2a4dbcc48f6f709
#
# TODO: Remove `dist` and this block altogether when we have
# moved the full curriculum from create-react-app to Next.js
dist

# Next.js build folder
.next
